h1{
	position: absolute;
	z-index: 10; 
	font-size: 3rem;
	left: 3%; 
	font-family: "GT-Walsheim-Pro-Medium"; 
}

nav {
  float: right;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px; 
  position: relative;
  top: 80px; 
}


nav a {
  color: black;
  text-decoration: none;
  /*text-transform: uppercase;*/
  font-size: 20px;
}

#image{
	position: absolute;
	z-index: 9; 
	width: 29%; 
	top: 330px;
	opacity: 0.5; 
}

#arrival{
	position: absolute;
	z-index: 10; 
	top: 440px; 
	font-size: 2rem;
	left: 3%; 
}


#event{
	position: absolute;
	z-index: 10; 
	top: 440px; 
	font-size: 2rem;
	left: 32%; 
}


#v-line01{
	width: 2px; 
	height: 1000px; 
	background-color: black; 
	position: absolute;
	left: 29%; 
	top:110px;
}



#v-line02{
	width: 2px; 
	height: 880px; 
	background-color: black; 
	position: absolute;
	left: 58%; 
}


#h-line01{
	width: 100%; 
	height: 2px; 
	background-color: black; 
	position: absolute;
	top:110px;

} 


#collection01{
	position: absolute;
	z-index: 10; 
	top: 110px; 
	font-size: 2rem;
	left: 72%; 
}


#h-line02{
	height: 2px; 
	width: 42%;
    background-color: black; 
	position: absolute;
	top:220px;
    left: 58%; 
}

#collection02{
	position: absolute;
	z-index: 10; 
	top: 220px; 
	font-size: 2rem;
	left: 72%; 
}

#h-line03{
	height: 2px; 
	width: 42%;
    background-color: black; 
	position: absolute;
	top:330px;
    left: 58%; 
}

#collection03{
	position: absolute;
	z-index: 10; 
	top: 330px; 
	font-size: 2rem;
	left: 72%; 
}

#h-line04{
	height: 2px; 
	width: 42%;
    background-color: black; 
	position: absolute;
	top:440px;
    left: 58%; 
}

#collection04{
	position: absolute;
	z-index: 10; 
	top: 440px; 
	font-size: 2rem;
	left: 72%; 
}

#h-line05{
	height: 2px; 
	width: 42%;
    background-color: black; 
	position: absolute;
	top:550px;
    left: 58%; 
}

#collection05{
	position: absolute;
	z-index: 10; 
	top: 440px; 
	font-size: 2rem;
	left: 72%; 
}

#h-line06{
	height: 2px; 
	width: 42%;
    background-color: black; 
	position: absolute;
	top:660px;
    left: 58%; 
}


#h-line07{
	height: 2px; 
	width: 42%;
    background-color: black; 
	position: absolute;
	top:770px;
    left: 58%; 
}


#h-line08{
	height: 2px; 
	width: 100%;
    background-color: black; 
	position: absolute;
	top:880px; 
}



h4{
	position: absolute;
	z-index: 10; 
	top: 880px; 
	font-size: 2rem;
	left: 72%; 
}