/* Declearing font for use on this page. In Andrew's class. */

@font-face{
	font-family: 'GT-Super-Display-Super';
	font-weight: normal;
	font-style: normal;
	src: url('../font/GT-Super-Display-Super.eot');
	src: url('../font/GT-Super-Display-Super.oot?#iefix') format('embedded-opentype'),
	url('../font/GT-Super-Display-Super.woff2') format('woff2'),
	url('../font/GT-Super-Display-Super.woff') format('woff'),
	url('../font/GT-Super-Display-Super.otf') format('truetype');
}

/*
@font-face{
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	src: url('../font/Roboto.ttf');
	src: url('../font/Roboto.oot?#iefix') format('embedded-opentype'),
	url('../font/Roboto.woff2') format('woff2'),
	url('../font/Roboto.woff') format('woff'),
	url('../font/Roboto.otf') format('truetype');
}
*/