/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family:'Roboto', sans-serif;
  font-weight: lighter; 
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for in-text link */
.in-text-link{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
}

.in-text-link:hover, .in-text-link:focus {
  color: black;
  text-decoration: line-through;
}

/* Styling for the navigation button */
.button-nav {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #C4C4C4;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

  /*
  font-family: 'Yeseva One', cursive;
  text-decoration: none;
  color: #B18C64;

  display: inline-block;
  padding: 0.5em 0.75em;
  color: black;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  */
}


.button-nav:hover, .button-nav:focus {
  color: black;
  text-decoration: line-through;
}

/* Styling for submit/reset button */

.btn{

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 80px;
  margin: 20px auto;
  margin-right: 40px;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;

    /*
  font-family: 'Space Mono', monospace;
  text-decoration: none;
  background-color: #B18C64;
  display: inline-block;
  padding: 0.5em 0.75em;
  color: white;
    */
}

.btn:hover, .btn:focus {
  background-color: #C4C4C4;
  text-decoration: none;
}





/* 
  TEXT ELEMENTS -------------------
*/
.h1{
  font-family: 'GT-Super-Display-Super';
  font-size: 6rem;
}

.h2{
  font-family: 'Roboto', sans-serif;
}

.h3{
  font-family: 'Roboto', sans-serif;
}

.p{
  font-family: 'Roboto', sans-serif;
}

li{
  font-family: 'Roboto', sans-serif;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.main-nav{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 2em;
  color: black;
}

.main-nav:hover, .main-nav:focus {
  color: black;
  text-decoration: underline;
}


.sub-nav{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.5em 0.75em;

}

.sub-nav:hover, .main-nav:focus {
  color: black;
  text-decoration: underline;
}

.sub-nav:focus {
  color: black;
  text-decoration: underline;
}

.product-element {
    display: block;
    width: 500px;
    height: 500px;
    background-color: #F7F6FB;
}


.product-element a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 4em;
  color: black;
}

.product-element a:hover{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-decoration: underline;
  font-size: 4em;
  color: black;
}

.product-price {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  max-width: 200px;
}

.grid-container {
    display: flex;
    padding-bottom: 1rem;
}

.grid-col-1of5 {
    display: block;
    width: 20%;
    margin-right: 0.5rem;
    background: #F7F6FB;
    height: 200px;
}

.grid-col-4of5 {
    width: 80%;
    margin-left: 0.5rem;
    background: #F7F6FB;
    height: 200px;
}

.grid-col-3of5 {
    width: 60%;
    margin-right: 0.5rem;
    background: #F7F6FB;
    height: 200px;
}

.grid-col-2of5 {
    width: 40%;
    margin-left: 0.5rem;
    background: #F7F6FB;
    height: 200px;
}

div{
  display: block;
}

.swatches{
  box-sizing: border-box;
}

#white-box {
    width: 200px;
    height: 200px;
    background: #FFFFFF;
    border: solid 1px #000;
}

#color-box {
    width: 200px;
    height: 200px;
    background: #C4C4C4;
}

#color-box2 {
    width: 200px;
    height: 200px;
    background: #F7F6FB;
}

#black-box{
    width: 200px;
    height: 200px;
    background: #000000;
    color: #FFFFFF;
}
